.body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.header-section{
	background-color: #f0f2f4;
}
.topbar-content{
	display: inline-block;
	padding-left: 5px;
	padding-top: 10px;
}
.bg-light
{
	background-color: #f8f9fa00 !important;
}

.navigation_button
{
	color: white;
	font-weight: bold;
	background-color: #de2b24;
	cursor: pointer;
	border-radius: 5px;
	padding: 3px 10px 3px 10px;
	margin-left: 10px;
}
.nav-link
{
	font-weight: bold;
}
.slider{
	background-image: url('../images/slider.jpg');
	min-height: 600px;
	background-size: cover;
}
.bgtext{
	text-align: center;
	padding-top: 200px;
	color: white;
}
.bgtext h1{
	font-size: 35px;
}
.bgtext p{
	font-size: 22px;
}
.but{
	background-color: yellow;
	padding: 15px 20px 15px 20px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	
}
.red{
	color: red !important;
}
.nav li a{
	font-size: 12px;
}
.about{
	padding: 100px 0px 110px 0px;
}
.about-sectiontext h1{
	line-height: 0.8;
}
.about-sectiontext p{
	font-size: 18px;

}
.about-sectiontext hr{
	height: 4px;
	width: 50px;
	background-color: black;
}
.about-section img{
	padding: 40px 0px 30px 0px;
}
.about-section h3{
	font-size: 25px;
}
.approach{
	text-align: center;
	padding-top: 80px;
}
.graybg{
	background-color: lightgray;
}
.whitebg{
	background-color: white;
}
.steps{
	padding-bottom: 50px;
}
.step1{
	padding: 80px 80px 0px 70px;
}
.whitebg h1{
	font-size: 18px;
}
.step{
	position: absolute;
	top: 80px;
	background-color: red;
	right: -50px;
	padding: 10px 35px 20px 35px;
	color: white;
	text-align: center;
	line-height: 0;
	border-radius: 5px;
	border: 2px solid white;
	z-index: 1;
}
.step h1{
	font-size: 40px;
}
.step p{
	font-size: 18px;
}
.whitebg2{
	background-color: white;
}
.step2{
	position: absolute;
	top: 80px;
	background-color: red;
	left:-70px;
	padding: 10px 35px 20px 35px;
	color: white;
	text-align: center;
	line-height: 0;
	border-radius: 5px;
	border: 2px solid white;
	z-index: 1;
}
.step2 h1{
	font-size: 40px;
}
.step2 p{
	font-size: 18px;
}
.img2{
	position: relative;
	left: -30px;
}
.step3{
	padding: 80px 80px 0px 70px;
	text-align: right;
}
.step3 h1{
	font-size: 18px;
}
.work
{
	color: white;
}
.about-worktext h1{
	line-height: 0.8;
	padding-top: 100px;
}
.about-worktext p{
	font-size: 18px;

}
.about-worktext hr{
	height: 4px;
	width: 50px;
	background-color: white;
}
.redbg{
	background-color: red;
	margin-top: 100px;
}
.project{
	text-align:center; 
	padding-top: 30px;
	padding-bottom: 120px;
}

.project h1{
	font-size: 28px;
	padding-top: 20px;
	line-height: 0.5;
}

.project1{
	background-color: rgb(243, 94, 88);
	padding-top: 80px;
	padding-bottom: 60px;
	color: white;
}

.bgimg{
	background: url('../images/chair.jpg');
	background-position: cover;
}
.bluebg{
	background-color: rgb(18, 134, 191);
	min-height: 920px;
}
.down{
	font-size: 50px;
	height: 30px;
	border: 4px solid;
	border-radius: 50%;
	padding: 20px;
	box-sizing: content-box;
	cursor: pointer;
}
.form{
	background-color: white;
	color: black;
	margin-top: 70px;
	margin-left: 210px;
	text-align: center;
	padding: 50px 50px 60px 50px;
	width: 62%;
	
}
.form input[type=text]{
	width: 80%;
	margin-bottom: 8px;
	padding: 13px 0px 15px 25px;
	border-radius: 4px;
	border: 1px solid lightgray;
	opacity: 0.8;
	font-size: 14px;
	outline-color: rgb(18, 134, 191);
	outline-width: 5px;
	z-index: 1;
}
.form2{
	margin-top: 50px;
	margin-bottom: 20px;
}
.btn1{
	padding: 10px 25px 10px 25px !important;
}
.form3{
	margin-bottom: 100px;
	background-color: rgb(18, 134, 191);
}
.triangle-up {
   	width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 100px solid white;
    position: absolute;
    left: 670px;
   	margin-top: 30px;
}
.cross{
	position: absolute;
	font-size: 40px;
	color: white;
	background-color: red;
	border-radius: 50%;
	right: 400px;
	margin-top: 50px;
	border: none;
	outline: none;
	cursor: pointer;
}
.blackbg{
	background-color: rgb(42, 42, 42); 
}
.work h2{
	padding-top: 60px;
}
.work li{
	padding-top: 20px;
	list-style: none;
	display: inline-block;
	position: relative;
	right: 20px;
}
.work li a{
	text-decoration: none;
	color: white;
	border: 3px solid rgb(81, 81, 81);
	padding: 10px 15px 10px 15px;
	border-radius: 4px;
	margin-right: 10px;
}
.work p{
	padding-top: 20px; 
}
.work input[type="email"]{
	width: 80%;
	background-color: rgb(81, 81, 81);
	outline: none;
	border: none;
	color: white;
	font-size: 12px;
	padding: 15px 0px 15px 20px;
} 
.work input[type="email"]::placeholder{
	color: rgb(180, 180, 180);
}
.work input[type="submit"]{
	margin-top: 30px;
	margin-bottom: 80px;
	color: white;
	padding: 13px 40px 13px 40px;
	background: transparent;
	outline: none;
	border: 2px solid rgb(81, 81, 81);
	border-radius: 4px;
}
footer{
	background-color: rgb(81, 81, 81); 
	color: rgb(210, 210, 210);
	padding: 20px 0px 20px 0px;
	text-align: center;
}